<div class="h-screen flex bg-slate-200">
    <div class="w-1/4 bg-slate-400 p-4">
        <img class="rounded-xl" src="https://images.pexels.com/photos/16731950/pexels-photo-16731950/free-photo-of-road-traffic-street-curve.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1" srcset="https://images.pexels.com/photos/16731950/pexels-photo-16731950/free-photo-of-road-traffic-street-curve.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=1 1x, https://images.pexels.com/photos/16731950/pexels-photo-16731950/free-photo-of-road-traffic-street-curve.jpeg?auto=compress&amp;cs=tinysrgb&amp;w=1260&amp;h=750&amp;dpr=2 2x" alt="Free stock photo of asphalt, auto racing, blur Stock Photo" >
    </div>
    <div class="w-3/4 p-8">
        <h1 class="text-2xl font-bold mb-4">NgRx and Angular Dashboard</h1>
        <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce rhoncus tellus at tellus
            gravida, et dapibus magna tristique. Proin eu imperdiet dolor. Sed ultrices sapien vitae tellus tempus, eget
            eleifend nunc fringilla. Suspendisse sit amet rutrum magna. Curabitur venenatis tellus at ligula tincidunt
            vulputate. Integer nec bibendum nunc.</p>
        <p class="text-gray-700 mt-4">Fusce scelerisque odio at volutpat rutrum. Duis ut efficitur quam. Phasellus
            vestibulum mi sed risus cursus, eu feugiat risus volutpat. Nunc in nunc vel tortor efficitur rutrum. Nullam
            faucibus massa vel metus aliquet, vel pharetra ex blandit. Sed finibus ultrices arcu eget efficitur.</p>
    </div>
</div>