<div class="w-[209px] sm:w-[315px] ">

    <div class="bg-slate-800 rounded-xl m-2">

        <ul class="space-y-3">
            <li class="text-white text-2xl  ">home</li>
            <li class="text-white text-2xl">search</li>
        </ul>

    </div>


    <div class="bg-slate-800  rounded-xl m-2 overflow-hidden">

        <ul class="space-y-3">
            <li>Home</li>
        </ul>

        <div class="bg-slate-300 h-32 m-3 rounded-xl">

        </div>

        <div class="bg-slate-300 h-32 m-3 rounded-xl">

        </div>


    </div>

</div>